@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .layout {
    @apply ml-auto mr-auto w-[90%] max-w-[68.75rem];
  }

  .grid-12 {
    @apply grid w-full grid-cols-12;
  }
}

@layer components {
  .nav-height {
    height: clamp(5.875rem, 0.0294rem + 7.7941vw, 12.5rem);
  }
}

@layer utilities {
  .mask-top {
    -webkit-mask-image: linear-gradient(
      to bottom,
      #000000 0%,
      transparent 100%
    );
    mask-image: linear-gradient(to bottom, #000000 0%, transparent 100%);
  }

  .mask-bottom {
    -webkit-mask-image: linear-gradient(to top, #000000 0%, transparent 100%);
    mask-image: linear-gradient(to top, #000000 0%, transparent 100%);
  }

  .menu-link {
    @apply relative py-px;
  }

  .menu-link:before,
  .menu-link:after {
    @apply absolute -bottom-[2px] h-[2px] w-[0%];
    content: '';
  }

  .menu-link:before {
    @apply left-0;
  }
  .menu-link:after {
    @apply right-0 bg-custom-green dark:md:bg-custom-black;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
  }

  .menu-link:hover:before {
    @apply w-full bg-custom-green dark:md:bg-custom-black;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  }

  .menu-link:hover:after {
    @apply w-full bg-transparent;
    transition: 0s;
  }

  /* Loading UI */

  .loader,
  .loader::before,
  .loader::after {
    @apply animate-spin rounded-xl border-2 border-solid;
  }

  .loader {
    @apply relative flex h-10 w-10 items-center justify-center border-custom-black;
  }

  .loader::before,
  .loader::after {
    @apply absolute;
    content: '';
  }

  .loader::before {
    @apply h-[110%] w-[110%] border-custom-green;
    animation-delay: 0.5s;
  }

  .loader::after {
    @apply h-[120%] w-[120%] border-custom-black;
    animation-delay: 0.1s;
  }
}

::-webkit-scrollbar {
  width: 0.65rem;
}

::-webkit-scrollbar:hover {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: #24282c;
}

::-webkit-scrollbar-thumb {
  background: #d3f36a;
  border-radius: 1rem;
  border: 3px solid #24282c;
}
